.tabcookbook-cookbooks-section {
  padding: 75px 40px 40px 0px;
}

.tabcookbook-cookbooks-section .cookbook-subtitle {
  margin: 0;
  margin-bottom: 15px;

  color: #000;
  font-family: EB Garamond;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.cookbook-folders {
  width: auto;
  height: auto;

  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;

  gap: 5px;
}

@media screen and (max-width: 980px) {
  .tabcookbook-cookbooks-section {
    margin-right: 0;
  }
}
