.tabcookbook-cookbooks-section {
  margin-top: 75px;
  margin-right: 40px;
}
.tabcookbook-cookbooks-section .cookbook-subtitle {
  margin: 0;
  margin-bottom: 15px;

  color: #000;
  font-family: EB Garamond;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.cookbook-folders {
  width: auto;
  height: auto;

  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;

  gap: 5px;
}
