.cookbook-folders-content-container {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  width: 100%;
}
/*      ADD NEW COOKBOOK        */
.add-new-folder-btn {
  cursor: pointer;

  flex-shrink: 0;

  border-radius: 10px;
  border: 2px dashed #aabcc6;
  background: none;

  color: #aabcc6;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  transition: 0.2s ease-in;

  padding: 15px 25px;
}

.add-new-folder-btn:hover {
  transition: 0.2s ease-in;

  border: 2px dashed #829cac;
  background-color: #eef1f3;

  color: #829cac;
}

.add-new-folder-btn.new-folder-btn-active {
  border: 2px dashed #797979;
  background: #e8e9e8;

  color: #797979;
}

/*      MODAL STLYING       */
.new-folder-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
}

.new-folder-info-modal-content {
  background-color: white;
  padding: 24px;
  border-radius: 20px;
}

/*      MODAL CONTENT STYLE     */
.new-folder-title {
  margin: 0;
  margin-bottom: 30px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(14px, 4vw, 20px);

  color: #000000;

  margin: 0;
  margin-bottom: 30px;
}

.new-folder-input {
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;

  color: #000;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 300px;
  padding: 10px;

  margin: 0;
}

.new-folder-input:focus {
  outline: 5px auto #ff4d6d;
}

.modal-folder-action-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;

  margin-top: 30px;
}

.modal-folder-action-btns button {
  padding: 8px 15px;

  cursor: pointer;

  font-family: "Work Sans";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: center;
  text-align: center;

  border-radius: 10px;
  outline: none;
  border: none;
  background: none;
}

.new-folder-cancel-btn:hover {
  transition: 0.2s ease-in;
  background: #ebebeb;
}

.new-folder-create-btn:active {
  background: #000;
  color: #fff;
}

/*       CANCEL BUTTON     */
.new-folder-cancel-btn {
  color: #000000;
  transition: 0.1s ease-in-out;
}

.new-folder-cancel-btn:hover {
  background: #e6e6e6;
  transition: 0.1s ease-in-out;
}

.new-folder-cancel-btn:active {
  background: #ababab;
  transition: 0.1s ease-in-out;
}

/*       CREATE BUTTON     */
.new-folder-create-btn {
  color: #ff4d6d;
  font-weight: 600;

  transition: 0.1s ease-in-out;
}

.new-folder-create-btn:hover {
  background: #fae0e4;

  color: #000000;

  transition: 0.1s ease-in-out;
}

.new-folder-create-btn:active {
  background: #000;

  color: #fff;

  transition: 0.1s ease-in-out;
}
