/*    USER FOLDERS STYLING    */
.cookbook-icon {
  min-width: 18px;
  max-width: 18px;
}

.cookbook-user-folder {
  display: flex;
  justify-content: left;
  align-items: center;

  padding: 10px 15px;

  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #e7ecef;

  cursor: pointer;
}
/*  FOLDER IS HOVERED   */

.cookbook-user-folder:hover {
  background-color: #e7ecef;
  border: 1px solid #000;

  transition: background-color ease-in 0.2s;

  .cookbook-icon path {
    fill: #fff;
    fill: #000;
  }

  .cookbook-user-foldername {
    color: #fff;
    color: #000;
  }

  .cookbook-user-dots path {
    fill: #fff;
    fill: #000;
  }
}

.cookbook-active-content {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;

  position: relative;
}

.cookbook-user-foldername {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 0;
  margin-left: 15px;
  margin-right: 2px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .cookbook-user-folder:hover .cookbook-user-complete-foldername { */
.cookbook-user-complete-foldername {
  position: absolute;
  left: 15%;
  top: 100%;
  z-index: 2;

  margin: 0;
  width: -webkit-fill-available;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  white-space: pre-wrap;
  font-size: 12px;

  transition: 0.3s ease;
}

.cookbook-user-items-count {
  color: #ababab;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  margin: 0;
  margin-left: auto;
}

.cookbook-user-dots {
  margin: 0;
  margin-left: 20px;
  padding: 5px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.cookbook-user-dots svg {
  width: 4px;
  height: 19px;
}

.cookbook-user-dots:hover {
  background-color: #beccd4;
  border-radius: 5px;
  transition: background-color ease-in 0.1s;
}

/*  DOTS IS CLICKED   */
.cookbook-user-dots-content {
  position: relative;
}
.cookbook-user-dots-content .folder-options {
  position: absolute;

  padding: 2px 20px;

  border: 2px solid #d2dce1;
  background: #fff;

  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  top: 100%;
  left: 0;

  margin: 0;
}

.cookbook-user-dots-content .folder-options li {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding: 5px 20px;

  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  margin: 0;
  cursor: pointer;
  white-space: nowrap;

  background: #fff;
  border: none;
  border-radius: 0;
}

.cookbook-user-dots-content .folder-options li:hover {
  background: #dedede;
}

.cookbook-user-dots-content .folder-options li:active {
  background: #ababab;
}

.cookbook-user-dots-content .folder-options li .rename-icon,
.cookbook-user-dots-content .folder-options li .trash-icon {
  width: 15px;
  height: auto;
}
