.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container's height to fill the viewport */
  width: 100%; /* Set the container's width to fill the viewport */
  overflow: hidden; /* Hide any overflowing content */

  font-family: "Literata", serif;
  font-family: "Roboto", sans-serif;

  background-image: url("../images/blur.png");
}
