.open-recipe-link-btn {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  padding: 10px 0px 10px 0px;
  min-width: 120px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  border: 1px solid #000;
  background: #000;

  cursor: pointer;

  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);

  margin-left: auto;
}

.open-recipe-link-btn:hover {
  background-color: white;

  color: black;
  border: 1px solid #000;

  background: #fff;

  transition: 0.3s;
}
